.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  margin: 0 0 20px 0;
  padding: 20px;
  color: white;
}

.App-footer {
  margin: 50px 0 0 0;
  width: 100%;
}

#App-goban {
  background-image: url("./goban19.png");
  margin: 0 auto;
  width: 703px;
  height: 703px;
}

.App-masu {
  width: 37px;
  height: 37px;
  position: relative;
  float: left;
}

.App-goishi-white {
  left: 0px;
  height: 37px;
  width: 37px;
  background: url("./goishi19.png") 0 0;
}

.App-goishi-black {
  left: 37px;
  height: 37px;
  width: 37px;
  background: url("./goishi19.png") -37px 0;
}

